body {
    background-color: #232323;
}

.square {
    background: purple;
    width: 30%;
    margin: 1.66%;
    float: left;
    padding-top: 30%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    color: white;
}

button {
    background-color: white;
    border: transparent;
    height: 100%;
    text-decoration-color: blue;
}
#stripe {
    background-color: white;
    height: 30px;
    text-align: center;

}

#easy {
    margin-left: 0;
}
.selected{
    background-color: blue;
    text-decoration-color: white;
}