body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir", sans-serif;
}

.square {
    background: purple;
    width: 30%;
    margin: 1.66%;
    float: left;
    padding-top: 30%;
    border-radius: 15%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#rgbField {
    font-size: 200%;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}
h1 {
    color: white;
    line-height: 1.1;
    text-align: center;
    padding: 20px 0;
    font-weight: normal;
    text-transform: uppercase;
    background: steelblue;
    margin: 0;
}


#message {
    display: inline-block;
    width: 20%;
}
button {
    background: none;
    border: none;
    height: 100%;
    text-transform: uppercase;
    color: steelblue;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

#easy {
    margin-left: 0;
}
.completed{
    background: steelblue;
    color: white;
}

button:hover {
    background: steelblue;
    color: white;
}