body {
    background-color: #232323;
}

.square {
    background: purple;
    width: 30%;
    margin: 1.66%;
    float: left;
    padding-top: 30%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

span, h1 {
    color: white;
}